.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectTitle {
    font-weight: normal;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
